.header{

   display :flex;
   border : solid 200px;
   border-color: black;
   justify-content: space-between;
   background-color: black;
   color:azure
   
}



.grid{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}


.item{

  background-color:seashell;
  border-radius: 50px;
  width: 700px;
  height: 1000px;

}


body{

   background-color: thistle;

}
